[Unit]
Description=zram-swap-config
DefaultDependencies=no
After=local-fs.target
Conflicts=log2zram.target log2ram.target

[Service]
Type=oneshot
ExecStart= /usr/local/bin/zram-swap-config start
ExecStop= /usr/local/bin/zram-swap-config stop
TimeoutStartSec=120
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
