[Unit]
Description=zram-swap-config
DefaultDependencies=no
Before=basic.target sysinit.target shutdown.target log2ram.target
After=local-fs.target
Conflicts=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart= /usr/local/bin/zram-swap-config start
ExecStop= /usr/local/bin/zram-swap-config stop
TimeoutStartSec=120
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
